# API keys
*keys.py
*gcp_keys.json
*db_keys.py
*creds.json

# Jupyter Notebook Checkpoints
*.ipynb_checkpoints


**/.idea/
.idea/

*.idea/*
.idea/
**/.idea/


__pycache__/

# Jupyter Notebook Checkpoints
*.ipynb_checkpoints

*__pycache__*
