django==4.0.4  
psycopg2-binary 
#psycopg2 
django-debug-toolbar 
django-jsonfield 
environs  
wheel 
django-cors-headers
sqlalchemy
cloud-sql-python-connector[pg8000]
google-cloud-storage
pandas
json
os
datetime
time
sys
requests
pathlib
nodejs
python-dotenv
sqlparse
wheel
tzdata