django==4.0.4  
psycopg2-binary==2.9.3
#psycopg2 
django-debug-toolbar 
django-jsonfield 
environs  
wheel 
django-cors-headers
sqlalchemy
cloud-sql-python-connector[pg8000]
google-cloud-storage
pandas
datetime
requests
pathlib
python-dotenv
sqlparse
wheel
tzdata